.grey-jumbo
{
	margin-top: -2rem;
	height: 33rem;
	background-color: #42a5f5;
	background-size: 100% 100%;
	color:#f43d0f;
	border-radius: 0px !important;

}

.bottom
{
	padding:3rem;
	text-align: center;
}

.bottommargin
{
	margin-top: 1rem;
}

hr.short
{
	width:4.5rem;
	border-bottom: 2px solid #fff;
}


.top
{
	height:16rem;
	background: linear-gradient(120deg, #0d47a1, #42a5f5) !important;
	color:#fff;
	border-radius: 0px !important;

}

.top h1
{
	font-size: 3rem;
}

#weather
{
	font-size: 2rem!important;
}

#info1,
#info2
{
	font-size: 2rem;
}

#info3
{
	font-size: 2.5rem;
}


